* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  transition-duration: 0.25s;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  font-size: clamp(0.7rem, 0.6rem + 0.5vw, 1rem);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  color: var(--secondary-200);
}

a {
  color: var(--primary-300);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.wrap {
  margin: 0 auto;
  width: 80vw;
  display: flex;
}
